*{
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background: #010102;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    cursor: url('./images/cursor.png'), crosshair;
}
.cursor {
    position: fixed;
    top: -1rem;
    left: -1rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    text-align: center;
}
.cursor div:first-child {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid rgb(88, 88, 219);
    transition: transform 0.5s ease, opacity 0.35s ease;
}
.cursor.is-active div:first-child {
    transform: scale(1.8);
    opacity: 0.3;
    background: #FF5851;
    border: none;
}
.cursor.is-active .scroll {
    opacity: 0;
}
.scroll {
    font-size: .8rem;
    color: #ddd;
    font-weight: 700;
    transition: transform 0.5s ease, opacity 0.35s ease;
    margin-top: 5px;
    text-transform: uppercase;
}
.txt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

::-webkit-scrollbar {
    display: none;
    width: 10px;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    transition: 0.7s;
}
.preloader::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #04040a	;
    z-index: 1;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    transition: 0.7s;
}
.complete {
    opacity: 0;
    visibility: hidden;
}
.preloader.complete::before {
    transform: translateX(-100%);
    visibility: hidden;
}
.preloader::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #04040a;
    z-index: 1;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    transition: 0.7s;
}
.preloader.complete::after {
    transform: translateX(100%);
    visibility: hidden;
}
.logo-loading {
    position: absolute;
    width: 45vh;
    height: 45vh;
    z-index: 10001;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    line-height: 200px;
    transition: 1s;
}
.logo-loading .circle {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(138, 43, 226, 0.02);
  }
  .logo-loading .circle:nth-of-type(1) {
    width: 13vh;
    height: 11.5vh;
    animation: rt 6s infinite linear;
    box-shadow: 0 0 1px 0 blueviolet, inset 0 0 10px 0 blueviolet;
  }
  .logo-loading .circle:nth-of-type(2) {
    width: 12.5vh;
    height: 13.7vh;
    animation: rt 10s infinite linear;
    box-shadow: 0 0 1px 0 darkviolet, inset 0 0 10px 0 darkviolet;
  }
  .logo-loading .circle:nth-of-type(3) {
    width: 12vh;
    height: 13.7vh;
    animation: rt 5s infinite linear;
    box-shadow: 0 0 1px 0 darkmagenta, inset 0 0 10px 0 darkmagenta;
  }
  .logo-loading .circle:nth-of-type(4) {
    width: 10vh;
    height: 12.7vh;
    animation: rt 15s infinite linear;
    box-shadow: 0 0 1px 0 magenta, inset 0 0 10px 0 magenta;
  }
  
  @keyframes rt {
    100% {
      transform: rotate(360deg);
    }
  }
  
.dissappear {
    opacity: 0;
    visibility: hidden;
}

  /* /////////////////////CSS FOR MENU BAR */
.site-logo {
    position: absolute;
    font-size: 1.7rem;
    top: 5%;
    left: 5%;
    color: rgb(88, 88, 219);
}
.site-logo strong {
    color: #fff;
}
.menu-logo {
    color: rgb(88, 88, 219);
    font-size: 2.2rem;
}
.menu-logo strong {
    color: #fff;
}
.menu-bar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.menu-button {
    position: fixed;
    top: 50%;
    left: 3vh;
    z-index: 1000;
    transform: translateY(-50%);
    cursor: none;
}
.menu-button img {
    width: 4.7vh;
    cursor: none;
}
.menu-button ul.menu li {
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
    transition: 0.4s;
    color: #dddddd;
}
.menu-button ul.menu {
    display: block;
    font-size: 1rem;
    transform: rotate(-90deg);
    margin-left: 3.5vh;
    margin-top: -3.3vh;
}
.menu-button:hover li:nth-child(2), .menu-button:hover li:nth-child(4){
    transform: translateY(5px);
}
.menu-button:hover li:nth-child(1), .menu-button:hover li:nth-child(3){
    transform: translateY(-5px);
}
.menu-section {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2;
    height: 100%;
    width: 80%;
    background: #04040a;
    transition: cubic-bezier(.42,.63,0,1.01) 0.5s;
    opacity: 0;
    visibility: hidden;
}
.menu-section .logo {
    margin: 10vh 14vw;
    margin-bottom: 7vh;
}
.close-button {
    color: rgb(61, 61, 223);
    position: absolute;
    top: 50%;
    left: 3vh;
    transform: translateY(-50%);
    font-size: 3em;
    cursor: none;
}
.close-button:hover {
    color: #FF5851;
}
ul.menu-list {
    display: block;
    margin-left: 14vw;
}
ul.menu-list a {
    cursor: none;
    font-size: 2em;
    padding-top: 1vh;
    list-style-type: none;
    color: #dddddd;
    font-weight: 700;
    display: block;
    text-decoration: none;
}
ul.menu-list a:hover {
    color: #FF5851;
}
ul.menu-list a.active {
    color: #FF5851;
    text-decoration: overline;
}
.cv-button {
    color: #ddd!important;
    padding: 1vh 2vh;
    background: linear-gradient(45deg, rgba(255,38,0,1) 0%, rgba(39,39,230,1) 100%);
    display: inline-block;
    border-radius: 4px;
    cursor: none;
    transform: translateY(-50%);
    transition: 0.4s;
    font-weight: 700;
}
.cv-button i {
    margin-left: 1vh;
    font-size: 1.3em;
}
.cv-button:hover {
    background: linear-gradient(45deg, rgba(39,39,230,1) 0%, rgba(255,38,0,1) 100%);
    text-decoration: none;
}
.menu-contact {
    color: #dddddd;
    margin-left: 14vw;
    margin-top: 4vh;
    animation-delay: 0.2s;
}
.menu-contact span {
    display: block;
    font-weight: 400;
    font-size: 0.8em;
}
span.phone, span.email {
    font-weight: bold;
}
.menu-question {
    color: #dddddd;
    margin-top: 7vh;
    margin-left: 14vw;
}
.menu-question span:nth-child(2) {
    display: block;
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
}
.menu-question .leave-message {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    color: #ddd;
}
.menu-question span:nth-child(1) {
    float: left;
    font-size: 1.8em;
    margin-right: 3vw;
}
.menu-question:hover .arrow  {
    animation: arrow-animation 0.7s infinite;
}
.menu-question .leave-message:hover {
    font-size: 1.6em;
}
.social-icons {
    position: fixed;
    z-index: 10011;
    color: #dddddd;
    top: 35%;
    right: 50px;
    transform: translateY(-50%);
}
.social-icons::before {
    content: '';
    width: 2px;
    height: 5vh;
    background: #fff;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    opacity: .5;
}
.social-icons .social-top, .social-icons i {
    display: block;
    width: 2vw;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    cursor: none;
    transition: 0.4s;
    color: #ddd!important;
    font-size: 1.5rem;
    opacity: .5;
}
.social-icons a:hover {
    text-decoration: none;
    color: #FF5851!important;
    transform: scale(1.5);
    opacity: 1;
}
.social-icons i {
    position: absolute;
    bottom: -80%;
    border-radius: 50%;
    background: rgb(88, 88, 219);
    width: 2vw;
    height: 2vw;
    line-height: 2vw;
    opacity: 1;
    transform: rotate(-25deg);
    cursor: none;
}


.display {
    opacity: 1!important;
    visibility: visible!important;
    display: block;
}
.changeZindex { 
    z-index: 1!important;
}



/* CSS FOR HEADER/////////////////////////////////////// */
section.header {
    width: 100%;
    height: 100%;
}
section.header .title {
    font-size: 1.3rem;
    color: #dddddd;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}
.schedule-container {
    width: 30%;
    position: relative;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.schedule-wrapper {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
ul.schedule-title {
    width: 100%;
    margin: auto;
    text-align: center;
}
.schedule-wrapper .schedule-title li {
    color: #dddddd;
    font-size: 0.9rem;
    list-style-type: none;
    display: inline;
    margin-right: 15%;
}
.schedule-wrapper .schedule-title li:last-child {
    margin-right: 0;
}
.schedule-wrapper .schedule-line,
.schedule-wrapper .schedule-line-disabled {
    height: 2px;
    background: #dddddd;
    position: absolute;
    z-index: 1;
}
.schedule-wrapper .schedule-line-disabled {
    width: 100%;
    background: rgb(70, 70, 70);
    z-index: 0;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
#schedule-7am {
    font-weight: 700;
}
.schedule-line {
    width: 11%;
    top: -20px;
    transition: .4s;
}
.images-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.images-wrapper img {
    opacity: 0;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
}
#image-7am {
    opacity: 1;
}



/* CSS FOR ABOUT PAGE//////////////////////////////////////////////////////////////////////////////// */
section.about {
    position: relative;
    z-index: 999;
}
.top-image {
    text-align: center;
}
.top-image img {
    width: 35%;
}
.description-container {
    width: 70%;
    margin: auto;
    margin-top: -5%;
}
.description-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description-left {
    flex: 40%;
}
.description-right {
    flex: 60%;
}
.about-me-title {
    font-size: 1.2rem;
    color: #FF5851;
    font-weight: 700;
}
.about-me-description {
    color: #dddddd;
    margin-top: 15px;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.4;
    padding-right: 30px;
}
.description-right p {
    color: #dddddd;
    font-size: 1.2rem;
    line-height: 1.8;
}
.capabilities::selection {
    color: none;
    background: none;
}
.capabilities {
    font-size: 20rem;
    font-weight: bold;
    color: #010102;
    text-shadow:
     -1px -1px 0 #FF5851,  
      1px -1px 0 #FF5851,
      -1px 1px 0 #FF5851,
       1px 1px 0 #FF5851;
    margin-top: 3%;
    margin-bottom: 5%;
    opacity: .5;
    /* margin-left: 200px; */
}
.capabilities-container {
    width: 70%;
    margin: auto;
    margin-bottom: 200px;
}
.capabilities-wrapper {
    display: flex;
    flex-direction: row;
}
.capabilities-left {
    flex: 40%;
}
.capabilities-right {
    flex: 60%;
}
.capabilities-title {
    color: #FF5851;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.skills {
    color: #dddddd;
    font-size: 2rem;
    font-weight: bold;
    cursor: none;
}
.skills div {
    margin-bottom: 20px;
    opacity: .3;
    cursor: none;
}
.skills div.active {
    opacity: 1;
}
.skill-title {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 5px;
    color: #444444;
}
.skill-desc {
    color: #dddddd;
    line-height: 2;
    font-size: 1.2rem;
}
.skill-wrapper {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.skill-wrapper.active {
    opacity: 1;
    visibility: visible;
}
.bottom-text {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: #dddddd;
    font-size: 1rem;
    margin-top: 200px;
    margin-bottom: 200px;
}
.left-text {
    flex: 40%;
}
.middle-text {
    flex: 60%;
}

/* CSS FOR PROJECTS///////////////////////////////////////////////////////*/
.projects-container {
    position: relative;
    z-index: 999;
}
.project {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.project-left {
    flex: 55%;
}
.project-right {
    flex: 45%;
    display: none;
}
.project-right img {
    width: 100%;
}
.project-number {
    display: inline;
    font-size: 5rem;
    text-shadow:
    -1px -1px 0 #FF5851,  
     1px -1px 0 #FF5851,
     -1px 1px 0 #FF5851,
      1px 1px 0 #FF5851;
    color: #010102;
    font-weight: bold;
    margin-right: 50px;
}
.project-title {
    display: inline;
    font-size: 7rem;
    font-weight: bold;
    color: #010102;
    transition: .3s;
    cursor: none;
    text-shadow:
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}
.project-title::selection {
    color: none;
    background: none;
}
.project-number::selection {
    color: none;
    background: none;
}
.project-title:hover {
    color: #dddddd;
    text-shadow:
    -1px -1px 0 #dddddd,  
     1px -1px 0 #dddddd,
     -1px 1px 0 #dddddd,
      1px 1px 0 #dddddd;
}
.projects-container {
    margin-top: 200px;
}
.projects-wrapper {
    padding-left: 15%;
    padding-right: 15%;
}
.project-detail-wrapper {
    color: #ddd;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: .4s;
}
.detail-visible {
    opacity: 1;
    visibility: visible;
    height: auto;
}
.project-details {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
}
.client-title, .field-title, .year-title {
    color: #FF5851;
    font-weight: 700;
}
.client-name, .field-name, .year {
    margin-bottom: 30px;
    font-weight: 600;
}
.display-number {
    display: none!important;
    transition: .4s;
}
.display-project {
    display: inline-block;
    transition: .4s;
}
.site-link {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color: #ddd;
    position: relative;
    transition: .25s;
}
.site-link::before {
    content: '';
    width: 80%;
    height: 8px;
    background: rgb(88, 88, 219);
    position: absolute;
    bottom: 10%;
    z-index: -1;
    transition: .4s;
}
.site-link:hover {
    text-decoration: none;
    color: #ddd;
    cursor: none;
}
.site-link:hover:before {
    width: 10%;
}
.site-link i {
    font-size: 1rem;
    margin-left: 20px;
}
.slideRight {
    animation: slideRight .4s forwards;
}
.title-color {
    color: #ddd;
}
.animated {
    animation-duration: .7s!important;
}
.illustration-outline {
    font-size: 20rem;
    font-weight: bold;
    color: #010102;
    text-shadow:
    -1px -1px 0 #FF5851,  
     1px -1px 0 #FF5851,
     -1px 1px 0 #FF5851,
      1px 1px 0 #FF5851;
    opacity: .5;
}
.illustration-outline::selection {
    color: none;
    background: none;
}
.dribbble, .instagram {
    margin: auto;
    color: #fff;
    margin-top: 5%;
}
.dribbble i, .instagram i {
    color: #FF5851;
    font-size: 3rem;
    display: inline;
}
.dribbble a, .instagram a {
    position: relative;
    display: inline;
    font-size: 6rem;
    color: #ddd;
    margin-left: 100px;
    cursor: none;
    text-decoration: none;
}
.dribbble a::before, .instagram a::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 10px;
    height: 15px;
    background: rgb(88, 88, 219);
    z-index: -1;
    transition: .3s;
}
.dribbble a:hover::before,
.instagram a:hover::before {
    width: 10%;
}
.dribbble i.fa-external-link-alt,
.instagram i.fa-external-link-alt {
    font-size: 3rem;
    margin-left: 30px;
}
.illustrations {
    padding-left: 15%;
    padding-right: 15%;
}
/* CSS FOR ANIMATION///////////////// */
@keyframes slideRight {
    0% {
        margin-left: 100px;
    }
    100% {
        margin-left: 0px;
    }
}
@keyframes drag-slide {
    0% {
        left: 10%;
        transform: translateY(-50%);
    }
    50% {
        left: 80%;
        transform: translateY(-50%);
    }
    100% {
        left: 10%;
        transform: translateY(-50%);
    }
}
@keyframes controlDiskRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg)
    }
}

@keyframes diskRotate1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}
@keyframes diskRotate2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes slideInRight {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translate(20%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(0%);
    }
}
@-webkit-keyframes dash {
    0% {
    stroke-dashoffset: 745.74853515625;
    }
    100% {
    stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        opacity: 1;
        visibility: visible;
        stroke-dashoffset: 745.74853515625;
    }
    100% {
        opacity: 1;
        visibility: visible;
        stroke-dashoffset: 0;
    }
}
@keyframes bord {
    0% {
    width: 0%;
    }
    100% {
    width: 101%;
    }
}

@keyframes bords {
    0% {
    width: 100%;
    }
    100% {
    width: 0%;
    }
}

@keyframes opacity {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.3), 0 0 0 1px rgba(255, 0, 0, 0.3), 0 0 0 3px rgba(255, 0, 0, 0.3), 0 0 0 5px rgba(255, 0, 0, 0.3);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.3), 0 0 0 4px rgba(255, 0, 0, 0.3), 0 0 0 20px rgba(255, 0, 0, 0), 0 0 0 30px rgba(255, 0, 0, 0);
    }
  }

@keyframes arrow-animation {
    0% {
        transform: translateX(10px);
    }
    50% {
        transform: scaleX(1.2)
    }
    100% {
        transform: translateX(35px);
    }
}
@keyframes scale {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.85);
    }
}
@keyframes zoom-out {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1.25);
    }
}
@keyframes display {
    0% {
        transform: translate(-100%);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translate(0%);
        opacity: 1;
        visibility: visible;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(90deg);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translate(0deg);
        opacity: 1;
        visibility: visible;
    }
}
@keyframes scaleY {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes scaleDissappear {
    0% {
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@keyframes scaleAppear {
    0%{
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
    100%{
        transform: translateY(-50%) scale(1);
        opacity: 1;
        visibility: visible;
    }
}
@keyframes slideInDown {
    0% {
        transform: translate(-50%, -20%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}




/* CSS FOR RESPONSIVE///////////////////////////////////////// */

@media only screen and (max-width: 1024px) {
    .menu-bar img {
        width: 30px;
    }
    .menu-button ul.menu {
        display: none;
    }
    .menu-button {
        top: 50px;
    }
    .site-logo {
        display: none;
    }
    .social-icons {
        display: none;
    }
    .menu-section.display {
        width: 100%;
    }
    section.header .title {
        font-size: 1rem;
        width: 80%;
        margin: auto;
        top: 15%;
    }
    .images-container {
        top: 65%;
    }
    .schedule-container {
        display: none;
    }
    .close-button {
        top: 5%;
        left: 85%;
        font-size: 2rem;
    }
    .cv-button {
        margin-top: 40px;
    }
    .top-image img {
        width: 100%;;
    }
    .description-container {
        width: 80%;
    }
    .description-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .description-left, .description-right {
        flex: 1;
        flex-basis: 100%;
    }
    .about-me-description {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    .description-right {
        margin-bottom: 50px;
    }
    .description-right p {
        font-size: 1rem;
    }
    .capabilities {
        font-size: 6rem;
        margin-left: -40px;
        margin-bottom: 50px;
    }
    .capabilities-container {
        width: 80%;
    }
    .capabilities-wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .capabilities-left, .capabilities-right {
        flex: 1;
    }
    .capabilities-title {
        font-size: 1.2rem;
    }
    .skills div {
        font-size: 1.6rem;
        margin-bottom: 15px;
    }
    .capabilities-right {
        margin-top: 20px;
    }
    .skill-title {
        font-size: 2rem;
        color: #868686;
        font-weight: 700;
    }
    .skill-desc {
        font-size: 1rem;
        padding-right: 10%;
    }
    .bottom-text {
        flex-direction: column;
        width: 80%;
        margin-top: 250px;
        margin-bottom: 100px;
    }
    .bottom-text div {
        font-size: .8rem;
    }
    .project {
        margin-top: 0px;
        flex-direction: column;
    }
    .projects-wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
    .project-number {
        font-size: 2rem;
        margin-right: 15px;
    }
    .project-title {
        font-size: 2rem;
        letter-spacing: 2px;
        text-shadow: -1px -1px 0 #ddd, 1px -1px 0 #ddd, -1px 1px 0 #ddd, 1px 1px 0 #ddd;
    }
    .projects-container {
        margin-top: 100px;
    }
    .project-detail-wrapper {
        margin-top: -30px;
    }
    .client-name, .field-name, .year {
        margin-bottom: 20px;
    }
    .project-left {
        margin-bottom: 30px;
    }
    .project-right {
        margin-bottom: 80px;
    }
    .illustration-outline {
        font-size: 6rem;
        margin-left: -40px;
    }
    .illustrations {
        padding-left: 10%;
        padding-right: 10%;
    }
    .dribbble i, .instagram i {
        font-size: 1.2rem;
    }
    .dribbble a, .instagram a {
        font-size: 1.2rem;
        margin-left: 15px;
    }
    .dribbble a::before, .instagram a::before {
        height: 5px;
        bottom: 3px;
    }
    .dribbble i.fa-external-link-alt, 
    .instagram i.fa-external-link-alt {
        font-size: 1rem;
        margin-left: 10px;
    }
    .bottom-text.work {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    section.header .title {
        font-size: 1.2rem;
    }
    .images-container {
        top: 60%;
    }
    .images-wrapper img {
        height: 55vh;
    }
}
@media only screen and (max-width: 1920px) and (min-width: 1024px) {
    section.header .title {
        font-size: 1.2rem;
    }
    .images-wrapper img {
        height: 45vh;
    }
    .social-icons {
        right: 30px;
    }
    .schedule-container {
        width: 80%;
    }
}
@media only screen and (max-width: 2440px) and (min-width: 1921px) {
    .schedule-container {
        width: 40%;
    }
}


  